body {

 color:aquamarine;  
 background-color: chocolate; 
}

#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #aa4465;
padding: 10px;
float:none;
text-align: left;


}
